@use "../variables";
.MainProfileDiv{
  height: 100vh;
  width:100vw;
  background:lightgray;
  overflow-x: hidden;

  .profile-container{
    width:90%;
    height:100vh;
    background: white;
    margin:auto;
    .top-portion{
      height:150px;
      width:100%;
      position: relative;
      .user-profile-bg-image{
        height: 80%;
        width: 100%;
        background: variables.$main-color;
        overflow: hidden;
        #prf-bg-img{
          height:100vh;
          width:100vw;
          margin-top: -12rem;
        }
      }
      .user-profile-img{
        position: absolute;
        height: 100%;
        width: 150px;;
        border-radius: 50%;
        transform: translateX(50%);
        right: 50%;
        background-color: lightgray;
        border: 2px solid white;
        margin-top: -5rem;
        #prf-img{
          height:100%;
          width:100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .username{
        text-align: center;
        width:100%;
        position:absolute;
        bottom: -4.5rem;
        font-size: 2rem;
        color: black;
      }
      .follow-user{
        text-align: right;
        margin-right: 1rem;
        margin-top: 2rem;
        a{
          padding: 1rem 2rem;
          background:variables.$main-color;
          color:black;
          cursor:pointer;
          border-radius: 0.5rem;
          &:hover{
            background: black;
            color:variables.$main-color;
            box-shadow: 0rem 0.6rem 1rem -0.5rem gray;
            transform: translateY(-4px);
          }
        }
      }
    }
    .bottom-portion{
      display:flex;
      justify-content: center;
      flex-direction: row;
      width:100%;
      margin-top: 5rem;
      background: white;
      .left-side{
        flex:0.6;
        height: 100%;
      }
      .right-side{
        flex:0.4;
        height: 100%;
      }
    }
  }
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }