@use "../variables";

.Main-Feeds-Container{
    .top-container{
        height:100%;
        width:80%;
        margin:2rem;
        padding: 1rem;
        box-shadow: 1rem 1rem 2rem 1rem lightgray;
        border-radius: 0.5rem;
        .feed-input-container{
            display: flex;
            align-items: center;
            .input-container{
                background: variables.$main-color;
                border-radius: 1rem;
                margin-left: 0.5rem;
                width:100%;
                #Post-Description{
                    width: 100%;
                    background: transparent;
                    border: none;
                    height:2rem;
                    line-height: 1.8rem;
                    padding: 0.2rem;
                    margin-left: 0.2rem;
                    font-size: 1rem;
                    &:focus{
                        outline: none;
                        border: none;
                    }
                    &::placeholder{
                        color: black;
                    }
                }
            }

        }
        .feed-post-button-container{
            text-align: right;
            .MuiButton-root{
                background: variables.$main-color;
                color: black;
                border-radius: 0.5rem;
                margin-top: 0.8rem;
            }
        }
        #hr-id{
            height: 1px;
            background-color: lightgray;
            border: none;
            width: 90%;
            margin: auto;
            margin-top: 1rem;
        }
        .icon_buttons_action, .icon_button_action{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin-top: 0.7rem;
            .icon_button_action{
                margin: auto;
                .MuiIconButton-root{
                    color: red;
                }
                #PhotoIc{
                    color: green;
                }
                #FlagIc{
                    color: blue;
                }
                h5{
                  
                }

            }
        }
    }
    .bottom_container{
        width: 100%;
        height:100%;
        h3{
            text-align: left;
            margin-left: 2rem;
        }
    }
}